params{
    input = 'sample_sheet.csv'
    aligner = 'hisat2'
    pseudo_aligner = "salmon"
    outdir = 'nxt2'
    skipAlignment = false 
    singleEnd = true
    skipTrimming = true
    skipPreseq = true
    skipRseqc = true
    saveReference = false
    subset = false
    fasta = '/Users/davidangeles/ensembl/cel235/Caenorhabditis_elegans.WBcel235.dna.toplevel.fa'
    gtf = '/Users/davidangeles/ensembl/cel235/Caenorhabditis_elegans.WBcel235.104.gtf.gz'
}
