params{
    pseudo_aligner = "salmon"
    outdir = 'nxt'
    skipAlignment = true
    singleEnd = true
    skipTrimming = true
    skipPreseq = true
    saveReference = false
    subset = false
    fasta = '/Users/davidangeles/ensembl/genome/Caenorhabditis_elegans.WBcel235.dna.toplevel.fa.gz'
    gtf = '/Users/davidangeles/ensembl/v99/Caenorhabditis_elegans.WBcel235.100.gtf.gz'
}
